* {
  color: white;
}

.wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
}

.nav-item {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.nav-item:hover {
  color: #e50914;
}

.card-box {
  margin: 30px 100px 0 100px;
}

.card-box:first-child {
  margin: 0px 100px;
}

.card-box:last-child {
  padding-bottom: 40px;
}

.movie-title {
  padding-top: 20px;
  padding-bottom: 50px;
}
