* {
  /* color: white; */
  color: white;
}

.d {
  background-color: black;
}

.wrap {
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-item {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.nav-item:hover {
  color: #e50914;
}

.card-box {
  margin: 30px 100px 0 100px;
}

.card-box:first-child {
  margin: 0px 100px;
}

.card-box:last-child {
  padding-bottom: 40px;
}

.movie-title {
  padding-top: 20px;
  padding-bottom: 50px;
}

.loading-area {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
