.container {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
}

.nav-item {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.nav-item:hover {
  color: #e50914;
}

h1 {
  color: white;
}
